* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    min-height: 100vh;

}




header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(25, 29, 25);
    height: 10vh;
}

    header h1{
        display: inline-block;
        background-color: limegreen;
        color: rgb(1, 43, 4);
        font-size: xx-large;
        font-style: italic;
        font-family:Arial, Helvetica, sans-serif;
        align-self: center;
    }

    header nav{
        width: 35%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        header nav ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width:75%;
            list-style: none;
        }

            header nav ul li {
                text-decoration: none;
                color: limegreen;
            }


 section {
    display: inline-flex;
    flex-direction: row;
    background-color: blue;
    height: 80vh;
    width: 100vw;
            
}
            

    section aside {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        width: 40vw;
        height: 80vh;
        background-color:rgb(52, 59, 52);
        color: lime;

    }

    section div {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgb(70, 68, 68);
        width: 60vw;
        height: 80vh;
        justify-content: space-around;
        overflow: auto;

    }

    section div #topside {
        width: 100%;
    }
        section div div {
            justify-content: flex-start;
            align-items: center;
            height:25%;
            width: 40%;
            border-width: 2px;
            border-style:solid;
            border-radius: 25px;
            border-color:limegreen;
            background-color: dimgrey;
            margin: 25px;

 
            
        }

        section div div:hover {
           transition: all .3s ease-in;
           background-color: limegreen;
        }
        

      

            section div div p {
                width: fit-content;
                text-align: left;
                font-size: x-large;
                font-family:monospace ;
                background-color:limegreen ;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;

            }

            .grow {
                transition: all .2s ease-in-out;
            }
    
            .grow:hover {
                transform: scale(1,1);
            }






footer {
    height: 10vh;
    background-color: rgb(25, 29, 25);
}